*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* home page */
#top-nav-bar{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: white;
}
#top-nav-bar .page-logo{
    height: 60px;
}
#top-nav-bar .header-search-bar{
    line-height: 60px;
}
#top-nav-bar .header-login{
    line-height: 60px; 
}
#top-nav-bar .search-bar{
    background-color: rgb(242, 242, 242);
    padding: 11px;
    border-style: hidden;
    border-radius: 8px;

}
#top-nav-bar .search-icon{
    padding: 11px;
    border-style: hidden;
    background-color: white;
}
.home-page-main{       
    background-color: rgb(245, 245, 245);
    position: relative;
    top: 60px;
    height: 100%;
}
#top-nav-bar .login-account{
    position: relative;   
}

#top-nav-bar .login-account a{
    text-decoration: none;
    color: black;
    background-color: rgb(242, 242, 242);
    padding: 10.2px;
    border-radius: 8px; 
}
#top-nav-bar .login-account a:hover{
    background-color: rgba(0, 0, 0, 0.678);
    color: white;
}



/* login page */
.login-page-cover{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgb(245, 245, 245);
}
.login-box{
    max-width: 500px;
    max-height: 1000px;
}

